/**
1. Add font files to `src/assets/fonts`
2. Add @font-face declarations here to define the font
3. Update fontFamily in tailwind.config.css

For example:

@font-face
{
  font-family: 'Berthold City Bold';
  src: url('/src/assets/fonts/Berthold City Bold.otf') format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
*/
@font-face {
  font-family: "Berthold City Bold";
  src: url("/src/assets/fonts/Berthold City Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DMSans";
  src: url("/src/assets/fonts/DMSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DMSans Bold";
  src: url("/src/assets/fonts/DMSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
