.mobileLocator-module--mobile-locator--1a8ca {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  visibility: visible;
  z-index: 98;
}
@media (min-width: 62em) {
  .mobileLocator-module--mobile-locator--1a8ca {
    display: none;
    visibility: hidden;
  }
}

.mobileLocator-module--header-container--73a14 {
  background: #fff;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.5);
  display: flex;
  height: 60px;
  justify-content: space-between;
  padding: 6px 32px;
  position: relative;
}

.mobileLocator-module--logo--0a0e1 {
  width: 100px;
}
.mobileLocator-module--logo--0a0e1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  -webkit-user-select: none;
  user-select: none;
}
.mobileLocator-module--toggle-container--1a201 {
  cursor: pointer;
}

.mobileLocator-module--mobile-locator--1a8ca
  .mobileLocator-module--header-container--73a14
  .mobileLocator-module--logo--0a0e1,
.mobileLocator-module--mobile-locator--1a8ca
  .mobileLocator-module--header-container--73a14
  .mobileLocator-module--pin-icon--6d769 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  -webkit-user-select: none;
  user-select: none;
}

.mobileLocator-module--mobile-locator--1a8ca
  .mobileLocator-module--header-container--73a14
  .mobileLocator-module--logo--0a0e1 {
  width: 100px;
}

.mobileLocator-module--mobile-locator--1a8ca
  .mobileLocator-module--header-container--73a14
  .mobileLocator-module--toggle-container--1a201 {
  cursor: pointer;
}

.mobileLocator-module--mobile-locator--1a8ca
  .mobileLocator-module--header-container--73a14
  .mobileLocator-module--toggle-container--1a201
  svg {
  height: 45px;
  width: 37px;
}

.mobileLocator-module--mobile-locator--1a8ca
  .mobileLocator-module--header-container--73a14
  .mobileLocator-module--x-icon--5ce4a {
  transform: rotate(45deg);
}

.mobileLocator-module--mobile-locator--1a8ca
  .mobileLocator-module--header-container--73a14
  .mobileLocator-module--hide--2f285 {
  display: none;
  visibility: hidden;
}

.mobileLocator-module--mobile-locator--1a8ca
  .mobileLocator-module--map-container--ea6a6 {
  background-color: #fff;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100 - 60px);
  overflow-x: hidden;
  overflow-y: scroll;
  position: absolute;
  top: 60px;
  width: 100%;
}

.mobileLocator-module--mobile-locator--1a8ca
  .mobileLocator-module--map-container--ea6a6
  > * {
  height: 100%;
}

.mobileLocator-module--mobile-locator--1a8ca
  .mobileLocator-module--start--6abb6 {
  opacity: 0;
  top: calc(var(--vh, 1vh) * -100 + 60px);
  visibility: hidden;
}

.mobileLocator-module--mobile-locator--1a8ca .mobileLocator-module--on--9614f {
  animation-duration: 0.5s;
  animation-name: mobileLocator-module--showMap--ba8a0;
  visibility: visible;
}

.mobileLocator-module--mobile-locator--1a8ca .mobileLocator-module--off--bf77e {
  animation-duration: 0.75s;
  animation-fill-mode: forwards;
  animation-name: mobileLocator-module--hideMap--40376;
  visibility: hidden;
}
